---
import MaximizeIcon from '@/components/icons/Maximize.astro'

const { imageSrc, organization, title, href } = Astro.props;
const { skills } = Astro.props as { skills: string[] };
---

<article
  class="border dark:border-gray-700 rounded-2xl p-4 hover:scale-105 transition-all"
>
  <div class="flex items-center gap-4 mb-3">
    <img
      class="w-16 h-fit rounded-xl"
      src={`/${imageSrc}`}
      alt={`${organization} logo`}
    />
    <span>
      <h2 class="font-bold text-xl">{title}</h2>
      <h3 class="dark:text-green-400">{organization}</h3>
    </span>
  </div>
  <div class="flex justify-between items-center">
    <div class="flex flex-wrap gap-3">
      {
        skills.map((skill) => (
          <span class="rounded-full px-3 py-1 dark:text-gray-300 dark:bg-gray-800">
            {skill}
          </span>
        ))
      }
    </div>
    <a class="flex gap-x-1 items-center text-cyan-600" href={`/documents/${href}`}>
        View
        <MaximizeIcon class="size-5"/>
    </a>
  </div>
</article>
