---
import MaximizeIcon from "@/assets/icons/arrows-maximize.svg"

interface Props {
  imageSrc: string,
  organization: string,
  title: string,
  href: string,
  skills: string[]
}

const { imageSrc, organization, title, href, skills } = Astro.props;
---

<article
  class="border bg-white dark:bg-gray-950/80 border-gray-400 dark:border-gray-700 rounded-2xl p-4 hover:scale-105 transition-all flex flex-col justify-between"
>
  <div class="flex items-center gap-4 mb-3">
    <img
      class="w-16 h-fit rounded-xl"
      src={`/${imageSrc}`}
      alt={`${organization} logo`}
      loading="lazy"
      decoding="async"
    />
    <span>
      <h2 class="font-bold text-xl line-clamp-2" title={title}>{title}</h2>
      <h3 class="text-green-700 dark:text-green-400">{organization}</h3>
    </span>
  </div>
  <div class="flex justify-between items-center gap-x-2">
    <div class="flex flex-wrap gap-3">
      {
        skills && skills.length > 0 ? (
          skills.map((skill) => (
            <span class="rounded-full px-3 py-1 text-sm text-gray-700 dark:text-gray-300 bg-gray-100 dark:bg-gray-800 transition-colors ease-in-out">
              {skill}
            </span>
          ))
        ) : (
          <span class="rounded-full px-3 py-1 text-sm text-gray-700 dark:text-gray-300 bg-gray-100 dark:bg-gray-800 transition-colors ease-in-out">
            Personal
          </span>
        )
      }
    </div>
    <a
      class="flex gap-x-1 items-center text-cyan-700 dark:text-cyan-500"
      href={`/documents/${href}`}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={`Open certificate ${title} from ${organization}`}
    >
      View
      <MaximizeIcon class="size-5" />
    </a>
  </div>
</article>
