---
import { SOCIAL } from "@/const/social";

import Badge from "@/components/Badge.astro";
import SocialPill from "./SocialPill.astro";
import TextType from "y/TextType/TextType";
import BlurText from "y/BlurText/BlurText";
import AboutText from "@/components/AboutText";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="flex flex-col md:flex-row pt-36 mx-8">
  <aside class="mt-12 md:mt-2 md:mr-20 order-2 md:order-1">
    <ul class="flex md:flex-col flex-row gap-8 justify-center">
      {
        SOCIAL.map(({ name, url, image, label }) => (
          <SocialPill image={image} name={name} url={url} label={label} />
        ))
      }
    </ul>
    <hr
      class="h-0 md:h-[60px] w-[2px] mt-12 border-t-0 dark:bg-neutral-400 bg-neutral-500 mx-auto rounded-full"
    />
  </aside>
  <article class="order-1 md:order-2">
    <div class="flex gap-4 mb-2 items-center">
      <img
        class="rounded-full size-16"
        src="/profile.webp"
        alt="Kaleb Zambrano"
      />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://linkedin.com/in/kaleb-zambrano-berlanga-2118a0300/"
        ><Badge>{i18n.HERO_BUTTON}</Badge>
      </a>
    </div>
    <BlurText
      client:load
      text={i18n.HERO_PRESENTATION}
      delay={50}
      animateBy="words"
      direction="bottom"
      className="text-3xl md:text-5xl font-bold mb-2"
    />
    <TextType
      client:load
      colorText="text-cyan-500 dark:text-cyan-400"
      className="text-cyan-500 dark:text-cyan-400 font-semibold text-xl md:text-3xl mb-8"
      text={[i18n.HERO_JOB]}
      typingSpeed={75}
      showCursor={true}
      cursorCharacter="|"
    />
    <AboutText client:load>
      {
        currentLocale === "es" ? (
          <>
            <strong class="text-cyan-500 dark:text-cyan-200">
              +1 año de experiencia
            </strong>
            . Estudiante de Ingeniería de Sistemas e Informática de Lima, Perú
            🇵🇪. Especializado en{" "}
            <strong class="text-cyan-500 dark:text-cyan-200">
              desarrollo frontend
            </strong>{" "}
            y apasionado por crear aplicaciones web{" "}
            <strong class="text-cyan-500 dark:text-cyan-200">
              únicas, modernas
            </strong>{" "}
            y con interfaces{" "}
            <strong class="text-cyan-500 dark:text-cyan-200">
              fáciles de usar
            </strong>
            .
          </>
        ) : (
          <>
            <strong class="text-cyan-500 dark:text-cyan-200">
              +1 year of experience
            </strong>
            . Systems and Computer Engineering student from Lima, Peru 🇵🇪.
            Specialized in{" "}
            <strong class="text-cyan-500 dark:text-cyan-200">
              frontend development
            </strong>{" "}
            and passionate about creating{" "}
            <strong class="text-cyan-500 dark:text-cyan-200">
              unique, modern
            </strong>{" "}
            web applications with{" "}
            <strong class="text-cyan-500 dark:text-cyan-200">
              user-friendly
            </strong>{" "}
            interfaces.
          </>
        )
      }
    </AboutText>
  </article>
</section>
