---
import RedirectIcon from "@/components/icons/Redirect.astro";
import GitHubIcon from "./icons/GitHub.astro";

type Tec = "Laravel" | "Astro" | "JS" | "Tailwind" | "React" | "TS";

const LANGUAJE_DICTIONARY: Record<
  Tec,
  { color: string; src: string; srcDark: string; alt: string }
> = {
  Laravel: {
    color: "bg-red-600/15",
    src: "/icons/laravel.svg",
    srcDark: "/icons/laravel.svg",
    alt: "Laravel Icon",
  },
  Astro: {
    color: "bg-orange-600/15 text-black",
    src: "/icons/dark/astro_dark.svg",
    srcDark: "/icons/astro.svg",
    alt: "Astro Icon",
  },
  JS: {
    color: "bg-yellow-600/15",
    src: "/icons/javascript.svg",
    srcDark: "/icons/javascript.svg",
    alt: "JavaScript Icon",
  },
  Tailwind: {
    color: "bg-cyan-600/15",
    src: "/icons/tailwindcss.svg",
    srcDark: "/icons/tailwindcss.svg",
    alt: "Tailwind Icon",
  },
  React: {
    color: "bg-sky-600/15",
    src: "/icons/dark/react_dark.svg",
    srcDark: "/icons/react_light.svg",
    alt: "React Icon",
  },
  TS: {
    color: "bg-blue-600/15",
    src: "/icons/typescript.svg",
    srcDark: "/icons/typescript.svg",
    alt: "TypeScript Icon",
  },
};

const generateTecIconHTML = (tec: Tec): string => {
  const { color, src, srcDark, alt } = LANGUAJE_DICTIONARY[tec];
  return `
  <img class="size-9 ${color} p-1.5 rounded-md dark:block hidden" src="${src}" alt="${alt}">
  <img class="size-9 ${color} p-1.5 rounded-md dark:hidden block" src="${srcDark}" alt="${alt}">
  `;
};

const { image, title, description, github, url } = Astro.props;
const { tecs } = Astro.props as { tecs: Tec[] };
---

<article class="border bg-white/80 dark:bg-gray-950/80 border-gray-400 dark:border-gray-700 rounded-2xl w-full group transition-colors ease-in-out">
  <div
    class="rounded-t-2xl"
    style="mask-image: linear-gradient(black 70%, transparent);"
  >
    <img
      class="group-hover:scale-110 ease-in-out transition-all duration-400"
      src={`/projects/${image}`}
      alt={`Imagen de dresentación del proyecto de ${title}`}
      width="2600"
      height="1240"
    />
  </div>
  <div class="flex flex-col justify-between p-5 h-52">
    <div class="mb-4">
      <h2 class="text-2xl font-bold mb-2">{title}</h2>
      <p class="dark:text-gray-400 line-clamp-3">{description}</p>
    </div>
    <div class="flex justify-between">
      <ul class="flex gap-2">
        {
          tecs.map((tec: Tec) => {
            return <li set:html={generateTecIconHTML(tec)} />;
          })
        }
      </ul>
      <ul class="flex gap-2">
        {
          github ? (
            <a target="_blank" href={github}>
              <GitHubIcon class="size-9 bg-gray-600/15 p-1.5 rounded-md" />
            </a>
          ) : null
        }
        <a target="_blank" href={url}>
          <RedirectIcon class="size-9 bg-gray-600/15 p-1.5 rounded-md" />
        </a>
      </ul>
    </div>
  </div>
</article>
