---
import skillsData from '@/data/skills.json'
import SkillCard from './SkillCard.astro';
import SectionContainer from './SectionContainer.astro';

import { getI18N } from '@/i18n';

const { currentLocale } = Astro
const i18n = getI18N({currentLocale})

const skills = skillsData.skills;
---
<SectionContainer>
  <h2 class="dark:text-gray-500 font-semibold text-xl mb-2">{i18n.SKILLS.SKILLS_TITLE}</h2>
  <h3 class="dark:text-gray-300 font-bold text-5xl mb-8">{i18n.SKILLS.SKILLS_SUBTITLE}</h3>

  <section class="flex flex-wrap gap-6 justify-center mx-3 my-4">
    {skills.map(skill => (
      <SkillCard title={skill.name} level={skill.level[currentLocale]} iconSrc={skill.icon}/>
    ))}
  </section>
</SectionContainer>
